


<div class="home-container">
    <div class="home-item-container" fxLayout="column" fxLayoutAlign="center space-between">
        <h1 fxLayout="row" fxLayoutAlign="center"> 
            <button mat-fab color="primary" >
              <mat-icon>home</mat-icon>
            </button>
        </h1>
        <h1 fxLayout="row" fxLayoutAlign="center" i18n="Home Page@@.Home-Page"> Home Page </h1>
        <h2 fxLayout="row" fxLayoutAlign="center" i18n="To activate security@@.To-activate-security"> To activate security, register as a user </h2>
        <h2 fxLayout="row" fxLayoutAlign="center" > Z@gmail.com : 5Z@gmail.com </h2>
        <h2 fxLayout="row" fxLayoutAlign="center" i18n="After@@.After"> After </h2>
        <h2 fxLayout="row" fxLayoutAlign="center" i18n="Login as admin@@.Login as admin"> Login as admin </h2>
        <h2 fxLayout="row" fxLayoutAlign="center" > admin@gmail.com : 5Admin@gmail.com </h2>
        <h2 fxLayout="row" fxLayoutAlign="center" i18n="Login as guest@@.Login-as-guest"> Login as guest </h2>
        <h2 fxLayout="row" fxLayoutAlign="center" > guest@gmail.com : 5Guest@gmail.com </h2>
        <router-outlet></router-outlet>
    </div>
</div>

